Binaries
DerivedDataCache
Intermediate
Saved
Build
Content/Asset
Content/StarterContent
Content/AnimStarterPack
Content/MixamoAnimPack
Content/MovementAnimsetPro
Content/Maps
Content/Map
*.sdf
*.sln
*.suo
*.opensdf
*.opendb
*.db
/Content/GTFreeMaterials
/Content/Demo/Environment
/Content/Vehicles
/docs/sphinx-build-result
/.vs